<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content" class="dashboard-view">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>*@
            <div class="row">
                <div class="col-9" style="padding-left: 0.00rem !important;">
                    <!-- Content Row (Field Analysis) -->
                    <div class="row" style="padding-top:10px;">
                        <div class="col-12">
                            <p>Field Analysis</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2 field-analysis-header">Areas</div>
                                <div class="col-1 field-analysis-header">Ph</div>
                                <div class="col-1 field-analysis-header">Mois</div>@*Moisture*@
                                <div class="col-1 field-analysis-header">Shades</div>
                                <div class="col-1 field-analysis-header">P</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-header">K</div> @*Potassium*@
                                <div class="col-1 field-analysis-header">N</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-header">SOC</div> @*Organic carbon*@
                            </div>
                            <div class="row">
                                <div class="col-2 field-analysis-ideal-value-header">Ideal</div>
                                <div class="col-1 field-analysis-ideal-value-header">(6.1-6.6)</div>
                                <div class="col-1 field-analysis-ideal-value-header">(3-8)</div>
                                <div class="col-1 field-analysis-ideal-value-header">40-60%</div>
                                <div class="col-1 field-analysis-ideal-value-header">240-480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-ideal-value-header">11–22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-ideal-value-header">110-280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-ideal-value-header">0.5-7.5%</div> @*Organic carbon*@
                            </div>
                        </div>
                    </div>
                    <div class="row" style=" height: 110px;overflow: auto !important;">
                        <div class="col-12">


                            <div class="row">
                                <div class="col-2 field-analysis-record">South-1</div>
                                <div class="col-1 field-analysis-record">6.1</div>
                                <div class="col-1 field-analysis-record">8</div>
                                <div class="col-1 field-analysis-record" style="color:red;">10%</div>
                                <div class="col-1 field-analysis-record">480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-record">22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-record">280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-record">7.5%</div> @*Organic carbon*@
                            </div>
                            <div class="row">
                                <div class="col-2  field-analysis-record">South-2</div>
                                <div class="col-1 field-analysis-record">6.1</div>
                                <div class="col-1 field-analysis-record">8</div>
                                <div class="col-1 field-analysis-record">40%</div>
                                <div class="col-1 field-analysis-record">480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-record">22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-record">280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-record">7.5%</div> @*Organic carbon*@
                            </div>
                            <div class="row">
                                <div class="col-2  field-analysis-record">North-1</div>
                                <div class="col-1 field-analysis-record">6.1</div>
                                <div class="col-1 field-analysis-record">8</div>
                                <div class="col-1 field-analysis-record">40%</div>
                                <div class="col-1 field-analysis-record">480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-record">22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-record">280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-record">7.5%</div> @*Organic carbon*@
                            </div>
                            <div class="row">
                                <div class="col-2  field-analysis-record">North-2</div>
                                <div class="col-1 field-analysis-record">6.1</div>
                                <div class="col-1 field-analysis-record">8</div>
                                <div class="col-1 field-analysis-record">40%</div>
                                <div class="col-1 field-analysis-record">480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-record">22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-record">280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-record">7.5%</div> @*Organic carbon*@
                            </div>
                            <div class="row">
                                <div class="col-2  field-analysis-record">East-1</div>
                                <div class="col-1 field-analysis-record">6.1</div>
                                <div class="col-1 field-analysis-record">8</div>
                                <div class="col-1 field-analysis-record">40%</div>
                                <div class="col-1 field-analysis-record">480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-record">22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-record">280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-record">7.5%</div> @*Organic carbon*@
                            </div>
                            <div class="row">
                                <div class="col-2  field-analysis-record">East-2</div>
                                <div class="col-1 field-analysis-record">6.1</div>
                                <div class="col-1 field-analysis-record">8</div>
                                <div class="col-1 field-analysis-record">40%</div>
                                <div class="col-1 field-analysis-record">480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-record">22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-record">280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-record">7.5%</div> @*Organic carbon*@
                            </div>
                            <div class="row">
                                <div class="col-2  field-analysis-record">West-1</div>
                                <div class="col-1 field-analysis-record">6.1</div>
                                <div class="col-1 field-analysis-record">8</div>
                                <div class="col-1 field-analysis-record">40%</div>
                                <div class="col-1 field-analysis-record">480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-record">22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-record">280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-record">7.5%</div> @*Organic carbon*@
                            </div>
                            <div class="row">
                                <div class="col-2  field-analysis-record">West-2</div>
                                <div class="col-1 field-analysis-record">6.1</div>
                                <div class="col-1 field-analysis-record">8</div>
                                <div class="col-1 field-analysis-record">40%</div>
                                <div class="col-1 field-analysis-record">480kg</div> @*Phosphorus*@
                                <div class="col-1 field-analysis-record">22Kg</div> @*Potassium*@
                                <div class="col-1 field-analysis-record">280Kg</div> @*Nitrogen*@
                                <div class="col-1 field-analysis-record">7.5%</div> @*Organic carbon*@
                            </div>

                        </div>
                        <!-- /.container-fluid -->
                    </div>

                </div>
                <div class="co-4" style="background-color:brown;"></div>
            </div>

            <div class="row" style="padding-top:15px;">
                <div class="col-12">
                    <p>Season - 1 Plan A</p>
                </div>
            </div>
            <div class="row" ">
                <div class="col-3">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success">
                            Day 1 (5/Jun/2010) <p class="fa fa-check fa-lg" style="color: green;"></p>
                        </div>
                      
                        <div class="card-body bg-light">
                            <h6 class="card-title" style="font-size: 12px;">കളപറകാ൯</h6>
                            <p class="card-text">
                                <div class="row">
                                    <div class="col-12" style="font-size: 11px;">
                                        Employees : 10 * 400(rs) = 4000
                                    </div>
                                </div>

                            </p>
                            <h6 class="card-title" style="font-size: 12px;">മരു൬ടികാ൯</h6>
                            <p class="card-text">
                                <div class="row">
                                    <div class="col-12" style="font-size: 11px;">
                                        Employees : 10 * 700(rs) = 7000
                                    </div>
                                </div>
                            </p>
                            <h6 class="card-title" style="font-size: 12px;">Pesticide price</h6>
                            <p class="card-text">
                                <div class="row">
                                    <div class="col-12" style="font-size: 11px;">
                                        10kg * 300(rs) = 3000
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            Total = 14000
                            <p class="fa fa-arrow-up fa-sm" style="font-size: 11px;color: red;"> 1800 </p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-success border-success" style="color: rebeccapurple;">
                            Day 5 (10/Jun/2010)
                            <i class="pulsating-circle"></i>                         
                        </div>
                        <div class="card-body text-success">
                            <h6 class="card-title" style="font-size: 12px;">കളപറകാ൯</h6>
                            <p class="card-text">
                                <div class="row">
                                    <div class="col-12" style="font-size: 11px;">
                                        Employees : 10 * 400(rs) = 4000
                                    </div>
                                </div>

                            </p>
                            <h6 class="card-title" style="font-size: 12px;">മരു൬ടികാ൯</h6>
                            <p class="card-text">
                                <div class="row">
                                    <div class="col-12" style="font-size: 11px;">
                                        Employees : - * -(rs) = -
                                    </div>
                                </div>
                            </p>
                            <h6 class="card-title" style="font-size: 12px;">Pesticide price</h6>
                            <p class="card-text">
                                <div class="row">
                                    <div class="col-12" style="font-size: 11px;">
                                        - * -(rs) = -
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            Total = -
                            <p  style="font-size: 11px;color: red;"> - </p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success">Day 3 (15/Jun/2010) </div>
                        <div class="card-body text-success">
                            <h5 class="card-title">Success card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">Footer</div>
                    </div>
                </div>
            </div>
                <!-- End of Main Content -->
            </div>
        <!-- End of Content Wrapper -->
       